


<div class="imagen">
    <!-- acordion -->

    <div class="carruseles index-dos" id="carusel" style="display:none">
        <div class="accordion " id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Tarjeta #1
                    </button>
                </h2>
                <div></div>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <!-- tarjeta  -->
                    <div class="tarjeta_dos justify-content-center row">
                        <p>
                            <i class=""></i>
                            <i class="mastercard transformed"></i>
                        </p>
                        <div class="class=" mb-3 row"">2222-7898-2345-2222 <code>Activa</code> </div>
                        <div class="class=" mb-3 row"">Michael Sevilla </div>
                    </div>
                    <!-- tarjeta  -->
                </div>
            </div>
            <div class="accordion-item ">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Tarjeta #2
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    @*<div class="accordion-body">4322-7898-2345-2321 <code>Depurada</code> </div>*@
                    <!-- tarjeta  -->
                    <div class="tarjeta_dos justify-content-center row">
                        <p>
                            <i class=""></i>
                            <i class="mastercard transformed"></i>
                        </p>
                        <div class="class=" mb-3 row"">2222-7898-2345-2222 <code>Activa</code> </div>
                        <div class="class=" mb-3 row"">Michael Sevilla  </div>
                    </div>
                    <!-- tarjeta  -->
                </div>
            </div>
        </div>
        <div class="col-12  btn">
            <button type="submit" onclick="ocultar()" class="btn btn-danger">cerrar</button>
        </div>


    </div>

    <!-- acordion -->
    <!-- formulario -->
    <div class="container-xxl index-uno">
        <div class="formulario1   ">
            <div class="tarjeta justify-content-center row">
                <p>
                    <i class=""></i>
                    <i class="mastercard transformed"></i>
                </p>
                <div class="mb-3 row">
                    <label for="formGroupExampleInput" class="form-label text-center">Numero de Cedula</label>
                    <input type="text" class="form-control text-center" id="formGroupExampleInput" onpaste="return false" placeholder="001-051097-1022C" maxlength="16" >
                </div>
                <div class="col-12 text-center">
                    <button type="submit" onclick="mostrar()" class="btn btn-primary">Consultar</button>
                </div>
            </div>


        </div>
    </div>
    <!-- fin formulario -->



</div>


<script type="text/javascript">


    function check(e) {
        tecla = (document.all) ? e.keyCode : e.which;

        //Tecla de retroceso para borrar, siempre la permite
        if (tecla == 8) {
            return true;
        }

        // Patrón de entrada, en este caso solo acepta numeros y letras
        patron = /[1-9,a-z,]/;
     
       
        tecla_final = String.fromCharCode(tecla);
        return patron.test(tecla_final);
    }
</script>


<script type="text/javascript">

    function mostrar() {
        document.getElementById('carusel').style.display = 'block';
    }

    function ocultar() {
        document.getElementById('carusel').style.display = 'none';
        document.location.reload();
   
    }
</script>
