<div class="imagen">
    <!-- formulario -->
    <div class="container-xxl  ">
        <div class="formulario1   ">
            <div class="formulario justify-content-center row ">
                <div class="mb-3 row">
                    <label for="formGroupExampleInput" class="form-label text-center">Numero de Cuenta</label>
                    <input type="text" class="form-control text-center" id="formGroupExampleInput" placeholder="123456789" maxlength="9">
                </div>
                <div class="col-12 text-center">
                    <button type="submit" onclick="Consultar()" class="btn btn-primary">Consultar</button>
                </div>

            </div>
        </div>
    </div>
    <!-- formulario Contenor Fin -->
</div>