<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - mi aplicación ASP.NET</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.min.css" rel="stylesheet">
    <!--Swee alert-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@500&family=Electrolize&family=Shantell+Sans:wght@300&family=Tourney:ital,wght@0,100;0,200;1,100;1,200&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>

    
    <!-- Barra de Navegacion -->
    <nav class="navbar navbar navegacion">
        <div class="container-fluid  navegacion">
            <img class="brz-img texto" srcset="https://cashpak.com/wp-content/uploads/brizy/imgs/cashpak-blanco-178x47x1x0x176x47x1638558904.png 1x, https://cashpak.com/wp-content/uploads/brizy/imgs/cashpak-blanco-356x94x2x0x352x94x1638558904.png 2x" src="https://cashpak.com/wp-content/uploads/brizy/imgs/cashpak-blanco-178x47x0x0x178x47x1638558904.png" alt="" draggable="false" loading="lazy">
        </div>
    </nav>


    <script type="text/javascript">

        function Consultar() {

            Swal.fire({
                title: '¿Quieres consultar esta Tarjeta?',
                showDenyButton: true,
                // showCancelButton: true,
                confirmButtonText: 'Consultar',
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    Swal.fire('Tarjeta Activa', '', 'success')
                } else if (result.isDenied) {
                    Swal.fire('Tarjeta Depurada', '', 'error')
                }
            })



        }


    </script>




    @RenderBody()
    @*@RenderSection("SPAViews", required: false)*@


    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("Scripts", required: false)*@
</body>
</html>
