@{
    ViewBag.Title = "About";
}



<main>

    <div class="form">
        <div class="thumbnail text-center"><img class="brz-img texto" srcset="https://cashpak.com/wp-content/uploads/brizy/imgs/cashpak-blanco-178x47x1x0x176x47x1638558904.png 1x, https://cashpak.com/wp-content/uploads/brizy/imgs/cashpak-blanco-356x94x2x0x352x94x1638558904.png 2x" src="https://cashpak.com/wp-content/uploads/brizy/imgs/cashpak-blanco-178x47x0x0x178x47x1638558904.png" alt="" draggable="false" loading="lazy"></div>
        <div>
            <p></p>
            <div class="mb-3 tex">
                <label class="form-label text-light">Operador</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Rlopez249744598.163736">
            </div>

            <div class="mb-3">
                <label for="" class="form-label text-light">Cuenta de Agente</label>
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="ANU022335">
            </div>

            <div class="mb-3">
                <label for="" class="form-label text-light">Terminal</label>
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="POSNI0014061">
            </div>

            <div class="mb-3 text-center ">
                <button type="submit" class="Boton_"></button>
            </div>
        </div>
    </div>

</main>